<div class="container container-service">
    <div class="flex-column-service-container">
        <div class="flex-colum-service-title">
            <span><h1 style="color: #02124d;font-weight: 800;line-height: 1.504, font-size: 2.14rem;"><b>Dịch Vụ Cung Cấp</b></h1></span>
            <img style="width: 50px; height: 50px;padding: 0 0 0 0;margin-bottom: 20px;" src="/images/customer.png" alt="" >
            <span style="color: #02124d; font-size: 1.2rem;">Chúng tôi cam kết mang đến chất lượng dịch vụ tốt nhất cho khách hàng.</span>
        </div>
        <div class="flex-column">
            <div class="flex-row-service">
                <div class="flex-colum-service-card-2">
                    <img class="service-card-img" src="/images/kthue-5.jpg" alt=""/>
                    <p class="service-card-title">DỊCH VỤ KẾ TOÁN – BÁO CÁO THUẾ</p>
                    <p>Đảm bảo việc hạch toán sổ sách, báo cáo và khai nộp thuế kịp thời, hiệu quả.</p>
                    <a class="service-watch-more" href="https://qpt.com.vn/dich-vu/dich-vu-ke-toan-bao-cao-thue/">Xem chi tiết</a>
                </div>
                <div class="flex-colum-service-card-2">
                    <img class="service-card-img" src="/images/dich-vu-soat-xet-thue.jpg" alt=""/>
                    <p class="service-card-title">DỊCH VỤ XÉT SOÁT THUẾ</p>
                    <p>Phát hiện những rủi ro tiềm ẩn về thuế, đưa ra các đề xuất các giải pháp kỹ thuật để tìm cách giảm thiểu các rủi ro về thuế...</p>
                    <a class="service-watch-more" href="https://qpt.com.vn/dich-vu/dich-vu-soat-xet-thue-toi-uu-chi-phi/">Xem chi tiết</a>
                </div>
                <div class="flex-colum-service-card-2">
                    <img class="service-card-img" src="/images/dich-vu-ke-toan-thue-cho-van-phong-dai-dien-nuoc-ngoai.jpg" alt=""/>
                    <p class="service-card-title">DỊCH VỤ KẾ TOÁN THUẾ CHO VĂN PHÒNG ĐẠI DIỆN NƯỚC NGOÀI</p>
                    <p>Dịch vụ kế toán thuế cho văn phòng đại diện nước ngoài tại Việt Nam giúp doanh nghiệp thực hiện các công việc kế toán.</p>
                    <a class="service-watch-more" href="https://qpt.com.vn/dich-vu/dich-vu-ke-toan-thue-cho-van-phong-dai-dien-nuoc-ngoai/">Xem chi tiết</a>
                </div>
            </div>
            <div class="flex-row-service">
                <div class="flex-colum-service-card-2">
                    <img class="service-card-img" src="/images/dich-vu-quyet-toan-thue-tncn.png" alt=""/>
                    <p class="service-card-title">DỊCH VỤ QUYẾT TOÁN THUẾ THU NHẬP CÁ NHÂN</p>
                    <p>Q.P.T cung cấp dịch vụ kê khai, quyết toán thuế TNCN cá nhân xử lý , giải quyết mọi vấn đề liên quan đến thuế TNCN một cách chuyên nghiệp và tin cậy nhất.</p>
                    <a class="service-watch-more" href="https://qpt.com.vn/dich-vu/dich-vu-quyet-toan-thue-thu-nhap-ca-nhan/">Xem chi tiết</a>
                </div>
                <div class="flex-colum-service-card-2">
                    <img class="service-card-img" src="/images/nMGkzmXzvyCefgVVx7Lp.jpg" alt=""/>
                    <p class="service-card-title">DỊCH VỤ THÀNH LẬP DOANH NGHIỆP</p>
                    <p>Hỗ trợ tốt nhất từ lúc mới khai sinh cho đến quá trình hoạt động và phát triển của doanh nghiệp</p>
                    <a class="service-watch-more" href="https://qpt.com.vn/dich-vu/dich-vu-thanh-lap-doanh-nghiep/">Xem chi tiết</a>
                </div>
                <div class="flex-colum-service-card-2">
                    <img class="service-card-img" src="/images/thanh_lap_doanh_nghiep.jpg" alt=""/>
                    <p class="service-card-title">DỊCH VỤ THAY ĐỔI GIẤY PHÉP KINH DOANH</p>
                    <p>Hỗ trợ và tư vấn giúp bạn hoàn tất thủ tục đăng ký kinh doanh một cách nhanh chóng nhất và hiệu quả nhất. </p>
                    <a class="service-watch-more" href="https://qpt.com.vn/dich-vu/dich-vu-thay-doi-dang-ky-kinh-doanh/">Xem chi tiết</a>
                </div>
            </div>
            <div class="flex-row-service">
                <div class="flex-colum-service-card-2">
                    <img class="service-card-img" src="/images/5-1024x3071.jpg" alt=""/>
                    <p class="service-card-title">DỊCH VỤ GIẢI THỂ DOANH NGHIỆP</p>
                    <p>Hỗ trợ, tư vấn chặt chẽ và chuyên nghiệp, hoàn tất các thủ tục giải thể công ty nhanh chóng, đảm bảo hạn chế thấp nhất các rủi ro của bạn.</p>
                    <a class="service-watch-more" href="https://qpt.com.vn/dich-vu/dich-vu-giai-the-doanh-nghiep/">Xem chi tiết</a>
                </div>
                <div class="flex-colum-service-card-2">
                    <img class="service-card-img" src="/images/close.jpg" alt=""/>
                    <p class="service-card-title">DỊCH VỤ TẠM NGỪNG KINH DOANH</p>
                    <p>Hỗ trợ, tư vấn chặt chẽ và chuyên nghiệp, hoàn tất các thủ tục giải thể công ty nhanh chóng, đảm bảo hạn chế thấp nhất các rủi ro của bạn.</p>
                    <a class="service-watch-more" href="https://qpt.com.vn/dich-vu/dich-vu-tam-ngung-kinh-doanh/">Xem chi tiết</a>
                </div>
                <div class="flex-colum-service-card-2">
                    <img class="service-card-img" src="/images/thue-thu-nhap-ca-nhan.jpg" alt=""/>
                    <p class="service-card-title">DỊCH VỤ TÍNH LƯƠNG – BẢO HIỂM – THUẾ THU NHẬP CÁ NHÂN</p>
                    <p>Hỗ trợ và tư vấn giúp bạn hoàn tất thủ tục đăng ký bảo hiểm xã hội và tính lương cho nhân viên một cách nhanh chóng nhất và hiệu quả nhất.</p>
                    <a class="service-watch-more" href="https://qpt.com.vn/dich-vu/dich-vu-tinh-luong-bao-hiem-thue-thu-nhap-ca-nhan/">Xem chi tiết</a>
                </div>
            </div>
            <div class="flex-row-service">
                <div class="flex-colum-service-card-2_last">
                    <img class="service-card-img" style="width: 355px" src="/images/hóa-đơn-điện-tử-1.jpg" alt=""/>
                    <p class="service-card-title">DỊCH VỤ HÓA ĐƠN ĐIỆN TỬ</p>
                    <p>Lời khuyên, tư vấn cùng với cách khắc phục từ đội ngũ chuyên viên sẽ giải tỏa nhanh chóng sự lo lắng từ phía doanh nghiệp.</p>
                    <a class="service-watch-more" href="https://qpt.com.vn/dich-vu/dich-vu-hoa-don-dien-tu/">Xem chi tiết</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section-band-service">
        <div class="flex-row-service-2">
            <div class="flex-column-service-2">
                <h2 style="text-align: center">DỊCH VỤ HỖ TRỢ KHỞI NGHIỆP – ĐẠI LÝ THUẾ Q.P.T</h2>
                <span style="text-align: center">”ĐỒNG HÀNH CÙNG DOANH NGHIỆP KHỞI NGHIỆP”</span>
                <hr>
                <p>Q.P.T được thực hiện theo 1 quy trình chặt chẽ, khoa học, mọi dịch vụ luôn được cam kết về chất lượng và kiểm soát chặt chẽ trước khi gửi đến khách hàng.</p>
                <strong><span style="font-size: 20px">♥ Cam kết của chúng tôi:</span></strong>
                <span style="padding-left: 20px">» Báo tình hình thuế hàng tháng cho doanh nghiệp.</span>
                <span style="padding-left: 20px">» Bàn giao sổ sách hàng quý.</span>
                <strong><span style="font-size: 20px">♥ Phương châm làm việc:</span></strong>
                <span style="padding-left: 20px">» Chuyên nghiệp, tận tụy.</span>
                <span style="padding-left: 20px">» Không ngại xa ,không ngại khó.</span>
            </div>
            <div class="flex-column-service-3">
                <img class="introduce-picture-3" src="/images/img1.png" alt="" />
                <div class="flex-row-service-2">
                    <button class="service-button-hover-left"><b>Tải Báo Giá</b></button>
                    <button class="service-button-hover-right"><b>Liên hệ chúng tôi</b></button>
                </div>
            </div>
        </div>
    </div>
    <div class="criteria">
            <div class="flex-colum-service-ele">
                <div class="dot-background">
                    <h1>Q.P.T - NGƯỜI BẠN ĐỒNG HÀNH ĐÁNG TIN CẬY CỦA DOANH NGHIỆP</h1>
                    <p class="content">Với kim chỉ nam “Khi khách hàng cần, Q.P.T sẽ có mặt” chúng tôi luôn cam kết mọi khó khăn, vướng mắc về kế toán, thuế và các thủ tục pháp lý liên quan sẽ được giải quyết một cách triệt để và nhanh chóng nhất. Không quan trọng doanh nghiệp của bạn là công ty nhỏ hay lớn, Q.P.T luôn đúng hẹn, đúng yêu cầu của khách hàng một cách chuyên nghiệp và hiệu quả nhất. Một khi sử dụng dịch vụ kế toán của Q.P.T, bạn đã tiết kiệm rất nhiều chi phí, nhân lực, và thời gian.</p>
                </div>
            </div>
            <div class="flex-colum-service-ele">
                <div class="flex-row-service">
                    <img class="service-img-event" src="/images/one.png" alt=""/>
                    <hr>
                    <div class="flex-column-content">
                        <strong><span class="title">UY TÍN - CHẤT LƯỢNG</span></strong>
                        <p class="content-2">Cung cấp các dịch vụ tư vấn kế toán, thuế với uy tín và chất lượng tốt nhất. Thông tin với độ tin cậy cao cho công tác quản lý và hoạt động sản xuất kinh doanh mang lại hiệu quả cao nhất. Nội dung kê khai thuế và sổ sách kế toán đảm bảo chuẩn xác và đúng hạn</p>
                    </div>
                </div>
                <div class="flex-row-service">
                    <img class="service-img-event" src="/images/two.png" alt=""/>
                    <hr>
                    <div class="flex-column-content">
                        <strong><span class="title">DỊCH VỤ CHUYÊN NGHIỆP</span></strong>
                        <p class="content-2">Đội ngũ nhân viên chuyên nghiệp và là những người đầy đam mê trong ngành, luôn tạo điều kiện để đội ngũ nhân viên của mình phát huy hết khả năng, mang đến dịch vụ chất lượng nhất.</p>
                    </div>
                </div>
                <div class="flex-row-service">
                    <img class="service-img-event" src="/images/three.png" alt=""/>
                    <hr>
                    <div class="flex-column-content">
                        <strong><span class="title">CHI PHÍ CẠNH TRANH</span></strong>
                        <p class="content-2">Bằng cách đưa ra những giải pháp tối ưu, hạn chế tối đa chi phí phát sinh. Q.P.T cam kết giá cạnh tranh, không phát sinh chi phí “ẩn” trong dịch vụ.</p>
                    </div>
                </div>
                <div class="flex-row-service">
                    <img class="service-img-event" src="/images/four.png" alt=""/>
                    <hr>
                    <div class="flex-column-content">
                        <strong><span class="title">BẢO MẬT THÔNG TIN</span></strong>
                        <p class="content-2">Dữ liệu kế toán được thực hiện trên phần mềm kế toán với độ chính xác cao và luôn cập nhật với các thay đổi của chính sách thuế. Cam kết đem đến cho bạn sự chính xác và an tâm.</p>
                    </div>
                </div>
                <div class="flex-row-service">
                    <img class="service-img-event" src="/images/five.png" alt=""/>
                    <hr>
                    <div class="flex-column-content">
                        <strong><span class="title">GIAO TIẾP DỄ DÀNG</span></strong>
                        <p class="content-2">Thông qua các phương tiện internet, sự trao đổi giữa bạn và Q.P.T sẽ không còn giới hạn về khoảng cách địa lý. Mọi vấn đề bạn gặp phải sẽ nhanh chóng được giải đáp, sẽ luôn sẵn sàng đồng hành cùng bạn 24/7.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
