<div class="container container-tax-law">
  <div class="banner-job">
    <img class="job" src="/images/job.png" alt="" title="" />
    <div class="cheat">
      <strong><h1 class="shit">LAW</h1></strong>
      <img class="bullshit-6" src="/images/minus.svg" alt="" title="" />
    </div>
  </div>
  <div class="tax-law-content">
    <h3 class="content-slogan">
        Chuyên mục Văn bản pháp luật
    </h3>
    <hr>
    <div class="content-body">
        <div class="content-body_left">
            <div class="content-body_left_layer1">
                <div class="content-body_left_layer1_item">
                    <img class="service-card-img" src="/images/law1.jpg" alt=""/>
                    <p class="service-card-title">DỊCH VỤ KẾ TOÁN – BÁO CÁO THUẾ</p>
                    <p>Đảm bảo việc hạch toán sổ sách, báo cáo và khai nộp thuế kịp thời, hiệu quả.</p>
                    <a class="service-watch-more" href="https://qpt.com.vn/dich-vu/dich-vu-ke-toan-bao-cao-thue/">Xem chi tiết</a>
                </div>
                <div class="content-body_left_layer1_item">
                    <img class="service-card-img" src="/images/law2.png" alt=""/>
                    <p class="service-card-title">DỊCH VỤ XÉT SOÁT THUẾ</p>
                    <p>Phát hiện những rủi ro tiềm ẩn về thuế, đưa ra các đề xuất các giải pháp kỹ thuật để tìm cách giảm thiểu các rủi ro về thuế...</p>
                    <a class="service-watch-more" href="https://qpt.com.vn/dich-vu/dich-vu-soat-xet-thue-toi-uu-chi-phi/">Xem chi tiết</a>
                </div>
            </div>
            <div class="content-body_left_layer1">
                <div class="content-body_left_layer1_item">
                    <img class="service-card-img" src="/images/law3.jpg" alt=""/>
                    <p class="service-card-title">DỊCH VỤ KẾ TOÁN THUẾ CHO VĂN PHÒNG ĐẠI DIỆN NƯỚC NGOÀI</p>
                    <p>Dịch vụ kế toán thuế cho văn phòng đại diện nước ngoài tại Việt Nam giúp doanh nghiệp thực hiện các công việc kế toán.</p>
                    <a class="service-watch-more" href="https://qpt.com.vn/dich-vu/dich-vu-ke-toan-thue-cho-van-phong-dai-dien-nuoc-ngoai/">Xem chi tiết</a>
                </div>
            </div>
        </div>
        <div class="content-body_right">
            <h4>
                FOLLOW US ON FACEBOOK
            </h4>
            <div>
                <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3D1017870221956748%26id%3D193917747685337&show_text=true&width=500" width="300" height="761" style="border:none;overflow:hidden" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>
        </div>
    </div>
  </div>
</div>
