<div class="container container-introduction">
    <div class="upper-top-banner">
        <div class="upper-introduction-left">
            <span style="font-size: 24px;color: #003366;font-family: Monospace"><b>VỀ CHÚNG TÔI</b></span>
            <p><b style="color: blue">>> </b>Với phương châm chất lượng dịch vụ hàng đầu, uy tín và tận tâm, không ngừng đầu tư nâng cao chất lượng – dịch vụ chuyên nghiệp – tốt nhất đến các doanh nghiệp.</p>
            <p><b style="color: blue">>> </b>Xây dựng đội ngũ cán bộ công nhân viên có phong cách làm việc chuyên nghiệp – sáng tạo, giàu nhiệt huyết, giỏi chuyên môn.</p>
            <p><b style="color: blue">>> </b>Xây dựng tinh thần đoàn kết, hợp tác lành mạnh, sẵn sàng chia sẻ kinh nghiệm giữa các đồng nghiệp.</p>
            <p><b style="color: blue">>> </b>Phát triển kinh doanh bền vững dựa trên sự ổn định về kế toán và đạt được lợi ích cao nhất về thuế.</p>
        </div>
        <img class="introduce-picture-2" src="/images/img1.png" alt="" />
    </div>
    <div class="section section_dark">
        <div class="container">
            <div class="perspective">
            <div class="perspective__flex">
                <div class="perspective__col">
                <div class="perspective__item perspective-item">
                    <div class="perspective-item__icon"><img src="/images/groups.png" alt=""/></div>
                    <div class="perspective-item__title">Cùng Nhau Hợp Tác Và Phát Triển Bền Vững!</div>
                    <div class="perspective-item__text">Luôn luôn đổi mới và phát triển hệ thống dịch vụ. Tạo tâm thế thoải mái nhất giữa Quý doanh nghiệp và Q.P.T</div>
                </div>
                </div>
                <div class="perspective__col">
                <div class="perspective__item perspective-item">
                    <div class="perspective-item__icon"><img src="/images/question.png" alt=""/></div>
                    <div class="perspective-item__title">Tại Sao Lựa Chọn Chúng Tôi Khi Nghĩ Về Thuế - Kế Toán?</div>
                    <div class="perspective-item__text">Q.P.T luôn tự hào là công ty dẫn đầu về dịch vụ kế toán. Chúng tôi không chỉ có chuyên môn cao mà còn đem đến những dịch vụ tốt nhất, chuyên nghiệp, tận tâm nhất!</div>
                </div>
                </div>
                <div class="perspective__col">
                <div class="perspective__item perspective-item">
                    <div class="perspective-item__icon"><img src="/images/solution.png" alt=""/></div>
                    <div class="perspective-item__title">Cung Cấp Giải Pháp Thuế - Kế Toán - Kiểm Toán Toàn Diện</div>
                    <div class="perspective-item__text">Là DN lâu năm, chúng tôi thấu hiểu các vướng mắc của Quý DN. Từ đó đưa ra hướng giải quyết tốt nhất không chỉ về chi phí mà lẫn hướng phát triển bền vững cho tương lai DN.</div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="section-band">
        <p style="font-family: helvetica, arial, sans-serif; color: white;font-size: 1.5rem;margin: 0">GIẢI PHÁP DOANH NGHIỆP KẾ TOÁN THUẾ</p>
        <p style="font-family: helvetica, arial, sans-serif; color: white;font-size: 1rem">Chuyên nghiệp – Hiệu quả – Minh bạch</p>
        <hr>
        <button class="button-hover-left" style="color: #fff;background-color: #00b1f5; padding: 10px"><b>Tải Báo Giá</b></button>
    </div>
    <div class="flex-colum" style="margin-top: 240px;">
        <div class="flex-colum" style="align-items: center; margin-bottom: 30px">
            <span><h1 style="color: #02124d;font-weight: 800;line-height: 1.504, font-size: 2.14rem;"><b>TẠI SAO LỰA CHỌN Q.P.T?</b></h1></span>
            <img style="width: 50px; height: 50px;padding: 0 0 0 0;margin-bottom: 20px;" src="/images/question-mark.png" alt="" >
            <span style="color: #02124d; font-size: 1.2rem;">Sản phẩm chất lượng - Giá cả cạnh tranh - Dịch vụ chuyên nghiệp.</span>
        </div>
        <div class="flex-row">
            <div class="flex-colum-introduction-card">
                <img class="service-card-2" src="/images/shield.png" alt=""/>
                <p class="card-title">SẢN PHẨM CHẤT LƯỢNG</p>
                <p>Cung cấp các dịch vụ tư vấn kế toán, thuế với uy tín và chất lượng tốt nhất, thông tin với độ tin cậy cao cho công tác quản lý và hoạt động sản xuất kinh doanh mang lại hiệu quả cao nhất.</p>
            </div>
            <div class="flex-colum-introduction-card">
                <img class="service-card-2" src="/images/reliability.png" alt=""/>
                <p class="card-title">ĐỐI TÁC TIN CẬY</p>
                <p>Với tiêu chí "Chất Lượng - An Toàn - Chuyên Nghiệp", Q.P.T sẽ là một đối tác tin cậy, là người bạn đồng hành với các doanh nghiệp.</p>
            </div>
            <div class="flex-colum-introduction-card">
                <img class="service-card-2" src="/images/accountant.png" alt=""/>
                <p class="card-title">DỊCH VỤ CHUYÊN NGHIỆP</p>
                <p>Đội ngũ nhân viên chuyên nghiệp và là những người đầy đam mê trong ngành, luôn tạo điều kiện để đội ngũ nhân viên của mình phát huy hết khả năng, mang đến dịch vụ chất lượng nhất.</p>
            </div>
            <div class="flex-colum-introduction-card">
                <img class="service-card-2" src="/images/best-price.png" alt=""/>
                <p class="card-title">GIÁ CẢ CẠNH TRANH</p>
                <p>Cam kết giá cạnh tranh, linh hoạt và phù hợp với từng nhu cầu của bạn. Không có chi phí “ẩn” trong suốt hợp đồng. Đưa ra những giải pháp tối ưu, hạn chế tối đa chi phí phát sinh. Thời gian giải quyết nhanh chóng và chính xác.</p>
            </div>
        </div>
        <br>
        <div style="text-align:center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
        <br>
    </div>
    <div class="section-band">
        <p style="font-family: helvetica, arial, sans-serif; color: white;font-size: 1.5rem;margin: 0">QUẲNG GÁNH LO ĐI ĐỂ KINH DOANH</p>
        <p style="font-family: helvetica, arial, sans-serif; color: white;font-size: 1rem">Q.P.T giúp bạn loại bỏ mọi vấn đề khó khăn với kế toán và thuế!</p>
        <button class="button-hover-left" style="color: #fff;background-color: #00b1f5; padding: 10px"><b>Tải Báo Giá</b></button>
    </div>
    <div class="flex-colum" style="margin-top: 240px;">
        <div class="flex-colum" style="align-items: center; margin-bottom: 30px">
            <span><h1 style="color: #02124d;font-weight: 800;line-height: 1.504, font-size: 2.14rem;"><b>NHÂN SỰ CHỦ CHỐT</b></h1></span>
            <img style="width: 50px; height: 50px;padding: 0 0 0 0;margin-bottom: 20px;" src="/images/best-employee.png" alt="" >
            <span style="color: #02124d; font-size: 1.2rem;">Chúng tôi có đội ngũ kế toán giàu kinh nghiệm, luôn sẵn sàng phục vụ quý khách hàng.</span>
        </div>
        <div class="flex-row">
            <div class="flex-colum-introduction-card-2">
                <img class="key-member" src="/images/quang.jpg" alt=""/>
                <h4 class="name">ĐẶNG VINH QUANG – ACCA, CPA</h4>
                <h4 style="margin: 0">Giám Đốc</h4>
                <p>10 năm kinh nghiệm làm kế toán – kiểm toán tại Deloitte, tư vấn kế toán và thuế trong đa ngành nghề.</p>
                <a class="fb" href="https://www.facebook.com/quangdang7388"><img class="icon" src="/images/fb.png" alt=""/>fb.com/quangdang7388</a>
                <div class="phone-and-email"><img class="icon" src="/images/phone.png" alt=""/><span class="link">0938753116</span></div>
                <div class="phone-and-email"><img class="icon" src="/images/mail.png" alt=""/><span class="link">quangdang@qpt.com.vn<span></div>
            </div>
            <div class="flex-colum-introduction-card-2">
                <img class="key-member" src="/images/yen.jpg" alt=""/>
                <h4 class="name">PHẠM NGỌC YẾN – CPT, ACCA</h4>
                <h4 style="margin: 0">Phó Giám Đốc</h4>
                <p>6 năm kinh nghiệm làm kế toán – kiểm toán tại E&Y, Kế toán và Tư vấn Bảng lương trong đa ngành nghề.</p>
                <a class="fb" href="https://www.facebook.com/yen.ngoc.311493"><img class="icon" src="/images/fb.png" alt=""/>fb.com/yen.ngoc.311493</a>
                <div class="phone-and-email"><img class="icon" src="/images/phone.png" alt=""/><span class="link">0373700906<span></div>
                <div class="phone-and-email"><img class="icon" src="/images/mail.png" alt=""/><span class="link">yenpham@qpt.com.vn<span></div>
            </div>
        </div>
    </div>
</div>
