.container-service {
    width: 100%;
    height: 4200px;
  }
.flex-column-service-container {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.flex-colum-service-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px
}
.flex-row-service {
    display: flex;
    flex-direction: row;
  }
  .flex-colum-service-card-2 {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 20px;
  }
  .flex-colum-service-card-2_last {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 20px;
  }
  .service-card-img {
    width: 360px;
    height: 150px;
    padding: 0 0 0 0;
    border-radius: 2%;
  }
  .service-card-title {
    color: #02124d;
    font-size: 16px;
    font-weight: 800;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.88;
  }
  .service-watch-more {
    padding: 0 0 0 0;
    font-size: 18px;
    color: #2E88FF;
  }
  .service-watch-more:hover {
      color: #02124d;
  }
  .criteria {
    margin-top: 650px;
    display: flex;
    flex-direction: row;
    padding: 20px;
  }
  .service-img-event{
    width: 70px;
    height: 70px;
    padding: 0;
    margin:0 20px 10px 10px;
  }
  .flex-colum-service-ele {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  h1 {
      line-height: 1.4;
      color: #02124d;
  }
  .flex-row-service {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }
  .dot-background {
    background:
    linear-gradient(90deg, #fff  4px, transparent 0),
    linear-gradient(#fff 4px,transparent 0),
    #EDEDED;
    background-size: 8px 8px,8px 8px;
    padding: 0 40px 0 40px;
    height: 1229px;
    margin-right: 25px;
  }
  .flex-column-content {
    display: flex;
    flex-direction: column;
    background:
    linear-gradient(90deg, #fff  4px, transparent 0),
    linear-gradient(#fff 4px,transparent 0),
    #EDEDED;
    background-size: 8px 8px,8px 8px;
    padding: 20px;  
  }
.title {
    font-size: 1.28rem;
    color: #02124d;
}
.content {
    line-height: 2;
    color: #02124d;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
.content-2 {
      font-size: 20px;
      line-height: 1.5;
      color: #02124d;
      font-family: 'Open Sans', sans-serif;
      margin-bottom: 0;
  }
  .arrow {
      width: 35px;
      padding: 0;
      margin: 0 0 0 10px;
    //   height: 15px;
  }
  .section-band-service{
    color: #FAD898;
    position: absolute;
    left: 0;
    height: 600px;
    background-color: #102f5e;
    display: flex;
    flex-direction: column;
    line-height: 1.55;
    justify-content: center;
  }
  .flex-row-service-2 {
    display: flex;
    flex-direction: row;
  }
  .flex-column-service-2{
    display: flex;
    flex-direction: column;
    width: 48%;
    margin: 0 30px 0 75px;
  }
  .flex-column-service-2 > span, .flex-column-service-2 > p {
    font-size: 18px;
    line-height: 1.88;
  }
  .flex-column-service-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .introduce-picture-3{
    padding: 0;
    margin: 0;
    width: 500px;
    border-radius: 2px;
    margin-bottom: 10px;
  }
  .service-button-hover-left {
    color: #fff;
    background-color: #00b1f5;
    padding: 10px;
    margin-right: 10px;
  }
  .service-button-hover-left:hover {
    background-color: #030358;
    transform: perspective(200px) rotateY(35deg);
    transition-duration: 1s;
  }
  .service-button-hover-right{
    color: #fff;
    background-color: #041344;
    padding: 10px
  }
  .service-button-hover-right:hover {
    background-color: #00b1f5;
    transform: perspective(200px) rotateY(-35deg);
    transition-duration: 1s;
  }