<div class="container container-top-banner">
    <div class="flex-column">
        <div class="swiper-wrapper">
            <div class="slide-image">
                <img class="slide-image" src="/images/672.png" alt="" />
            </div>
            <%# <div class="slide-image">
                <img class="slide-image" src="/images/test.jpg" alt="" />
            </div>
            <div class="slide-image">
                <img class="slide-image" src="/images/test.jpg" alt="" />
            </div> %>
        </div>
        <br>
        <div style="text-align:center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </div>
    <div class="upper-top-banner">
        <img class="introduce-picture" src="/images/img1.png" alt="" />
        <div class="upper-top-banner-right">
            <span style="font-size: 24px;color: #003366;font-family: Monospace"><b>
            <%= gettext "Q.P.T TAX AGENT - FELLOW TRAVELER OF STARTUPS" %>
            </b></span>
            <p>
                <%= gettext "With formula" %>
            <b style="color: #0000ff">
                <%= gettext "“COMPANION, CO-SHARE”" %>

            </b>
                <%= gettext "and orientation to build Q.P.T as a business" %>
            <b style="color: #0000ff">
                <%= gettext "“CIVILIZATION-PROFESSIONAL-EFFECTIVE”" %>
            </b>
                <%= gettext ", We will support and stand with you when performing the work, we always adhere to the provisions of applicable laws, professional ethics standards, regulations, and internal procedures that are applied. Towards the goal of protecting the best interests of our customers." %>
            </p>
            <div>
                <button class="button-hover-left" style="color: #fff;background-color: #00b1f5; padding: 10px"><b>
                <%=gettext "Proposal"%>
                </b></button>
                <button class="button-hover-right" style="color: #fff;background-color: #041344; padding: 10px"><b>
                <%=gettext "Contact Us"%>
                </b></button>
            </div>
        </div>
    </div>
    <div class="section section_dark">
        <div class="container">
            <div class="perspective">
            <div class="perspective__flex">
                <div class="perspective__col">
                <div class="perspective__item perspective-item">
                    <div class="perspective-item__icon"><img src="/images/groups.png" alt=""/></div>
                    <div class="perspective-item__title">
                    <%=gettext "Together Cooperation And Sustainable Development!" %>
                    </div>
                    <div class="perspective-item__text">
                    <%=gettext "Always innovate and develop the service system. Create the most comfortable mood between your business and Q.P.T" %>
                    </div>
                </div>
                </div>
                <div class="perspective__col">
                <div class="perspective__item perspective-item">
                    <div class="perspective-item__icon"><img src="/images/question.png" alt=""/></div>
                    <div class="perspective-item__title">
                    <%=gettext "Why Choose Us When Thinking About Tax - Accounting?" %>
                    </div>
                    <div class="perspective-item__text">
                    <%=gettext "Q.P.T is always proud to be the leading company in accounting services. We not only have high expertise but also provide the best, professional, most dedicated services!" %>
                    </div>
                </div>
                </div>
                <div class="perspective__col">
                <div class="perspective__item perspective-item">
                    <div class="perspective-item__icon"><img src="/images/solution.png" alt=""/></div>
                    <div class="perspective-item__title">
                    <%=gettext "Providing Comprehensive Tax - Accounting - Audit Solutions" %>
                    </div>
                    <div class="perspective-item__text">
                    <%=gettext "As a long-term business, we understand your problems. From there, giving the best solution not only in terms of costs but also sustainable development direction for the future of enterprises." %>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="section-band">
        <p style="font-family: helvetica, arial, sans-serif; color: white;font-size: 1.5rem;margin: 0">
        <%=gettext "ACCOMPANYING BUSINESSES TO START-UP"%>
        </p>
        <p style="font-family: helvetica, arial, sans-serif; color: white;font-size: 1rem">
        <%=gettext "Q.P.T helps you to eliminate all the problems with accounting and tax!"%>
        </p>
        <button class="button-hover-left" style="color: #fff;background-color: #00b1f5; padding: 10px"><b>
        <%=gettext "Proposal"%>
        </b></button>
    </div>
    <div class="flex-colum" style="margin-top: 240px;">
        <div class="flex-colum" style="align-items: center; margin-bottom: 30px">
            <span><h1 style="color: #02124d;font-weight: 800;line-height: 1.504, font-size: 2.14rem;"><b>
            <%=gettext "Service Provided"%>
            </b></h1></span>
            <img style="width: 50px; height: 50px;padding: 0 0 0 0;margin-bottom: 20px;" src="/images/customer.png" alt="" >
            <span style="color: #02124d; font-size: 1.2rem;">
            <%=gettext "We are committed to bringing the best quality of service to customers."%>
            </span>
        </div>
        <div class="flex-row">
            <div class="flex-colum-service-card">
                <img class="service-card" src="https://qpt.com.vn/wp-content/uploads/2018/12/kthue-5.jpg" alt=""/>
                <p class="card-title">
                <%=gettext "TAX PROFESSIONAL SERVICES"%>
                </p>
                <p>
                <%=gettext "Ensure timely and effective bookkeeping, reporting, and tax payment."%>
                </p>
                <a class="watch-more" href="https://qpt.com.vn/dich-vu/dich-vu-ke-toan-bao-cao-thue/">
                <%=gettext "Detail"%>
                </a>
            </div>
            <div class="flex-colum-service-card">
                <img class="service-card" src="https://qpt.com.vn/wp-content/uploads/2019/12/dich-vu-soat-xet-thue.jpg" alt=""/>
                <p class="card-title">
                <%=gettext "TAX REVIEW SERVICES"%>
                </p>
                <p>
                <%=gettext "Detect potential tax risks, propose technical solutions to find ways to minimize tax risks..."%>
                </p>
                <a class="watch-more" href="https://qpt.com.vn/dich-vu/dich-vu-soat-xet-thue-toi-uu-chi-phi/">
                <%=gettext "Detail"%>
                </a>
            </div>
            <div class="flex-colum-service-card">
                <img class="service-card" src="https://qpt.com.vn/wp-content/uploads/2020/12/dich-vu-ke-toan-thue-cho-van-phong-dai-dien-nuoc-ngoai.jpg" alt=""/>
                <p class="card-title">
                <%=gettext "TAX SERVICES FOR FOREIGN REPRESENTATIVE OFFICES IN VIETNAM"%>
                </p>
                <p>
                <%=gettext "Tax accounting services for foreign representative offices in Vietnam help businesses perform accounting tasks."%>
                </p>
                <a class="watch-more" href="https://qpt.com.vn/dich-vu/dich-vu-ke-toan-thue-cho-van-phong-dai-dien-nuoc-ngoai/">
                <%=gettext "Detail"%>
                </a>
            </div>
            <div class="flex-colum-service-card">
                <img class="service-card" src="https://qpt.com.vn/wp-content/uploads/2019/01/dich-vu-quyet-toan-thue-tncn.png" alt=""/>
                <p class="card-title">
                <%=gettext "PIT FINALIZATION SERVICES"%>
                </p>
                <p>
                <%=gettext "Q.P.T provides personal PIT declaration and finalization services, handles and resolves all PIT-related issues most professionally and reliably."%>
                </p>
                <a class="watch-more" href="https://qpt.com.vn/dich-vu/dich-vu-quyet-toan-thue-thu-nhap-ca-nhan/">
                <%=gettext "Detail"%>
                </a>
            </div>
        </div>
        <br>
        <div style="text-align:center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
        <br>
    </div>
    <div class="section-band">
        <p style="font-family: helvetica, arial, sans-serif; color: white;font-size: 1.5rem;margin: 0">Q.P.T TAX AGENT</p>
        <p style="font-family: helvetica, arial, sans-serif; color: white;font-size: 1rem">
        <%=gettext "FELLOW TRAVELER OF STARTUPS"%>
        </p>
        <button class="button-hover-left" style="color: #fff;background-color: #00b1f5; padding: 10px"><b>
        <%=gettext "Proposal"%>
        </b></button>
    </div>
    <div class="flex-colum-event" style="align-items: center;">
        <span><h1 style="color: #02124d;font-weight: 800;line-height: 1.504, font-size: 2.14rem;"><b>
        <%=gettext "News - Events"%>
        </b></h1></span>
        <img style="width: 50px; height: 50px;padding: 0 0 0 0;margin-bottom: 20px;" src="/images/news.png" alt="" >
        <span style="color: #02124d; font-size: 1.2rem;">
        <%=gettext "Update the latest news on Tax, Accounting, Insurance, and Legal Documents."%>
        </span>
        <div class="flex-row-event">
            <div class="flex-colum-ele">
                <img style="width: 100%; padding: 0" src="/images/huong-dan-lap-to-khai-quyet-toan-02-qtt-tncn-tren-phan-mem-htkk.png" alt=""/>
                <p>
                <%=gettext "INSTRUCTIONS FOR MAKING PERSONAL INCOME TAX PAYMENTS 02/QTT-TNCN ON HTKK SOFTWARE"%>
                </p>
                <button class="button-hover-left-to-right" style="color: #fff;background-color: #00b1f5;width: 144px;height: 44px"><b>
                <%=gettext "Detail >>"%>
                </b></button>
            </div>

            <div class="flex-colum-ele">
                <div class="flex-row">
                    <img class="img-event" src="/images/tang-tuoi-nghi-huu-cua-lao-dong-nam-nu-tu-ngay-01-01-2021.png" alt=""/>
                    <p>
                    <%=gettext "INCREASE THE RETIREMENT AGE OF MAN AND WOMEN FROM 01/01/2021"%>
                    </p>
                </div>
                <div class="flex-row">
                    <img class="img-event" src="/images/bo-luat-lao-dong-2019_diem-moi-trong-giai-quyet-tranh-chap-lao-dong-tu-nam-2021.png" alt=""/>
                    <p>
                    <%=gettext "LABOR CODE 2019_NEW POINT IN LABOR DISPUTES FROM 2021"%>
                    </p>
                </div>
                <div class="flex-row">
                    <img class="img-event" src="/images/bo-luat-lao-dong-2019_thay-doi-ve-ky-luat-lao-dong.png" alt=""/>
                    <p>
                    <%=gettext "LABOR CODE 2019_CHANGES ON LABOR DISCIPLINE"%>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
