<div class="container container-top-banner">
    <div class="flex-column">
        <div class="swiper-wrapper">
            <div class="slide-image">
                <img class="slide-image" src="/images/1234.png" alt="" />
            </div>
            <%# <div class="slide-image">
                <img class="slide-image" src="/images/test.jpg" alt="" />
            </div>
            <div class="slide-image">
                <img class="slide-image" src="/images/test.jpg" alt="" />
            </div> %>
        </div>
        <br>
        <div style="text-align:center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </div>
    <div class="upper-top-banner">
        <img class="introduce-picture" src="/images/img1.png" alt="" />
        <div class="upper-top-banner-right">
            <span style="font-size: 24px;color: #003366;font-family: Monospace"><b>DỊCH VỤ HỖ TRỢ KHỞI NGHIỆP – ĐẠI LÝ THUẾ Q.P.T</b></span>
            <p>Với phương châm <b style="color: #0000ff">“ĐỒNG HÀNH-ĐỒNG CHIA SẺ”</b> và định hướng xây dựng Q.P.T là doanh nghiệp <b style="color: #0000ff">“VĂN MINH-CHUYÊN NGHIỆP-HIỆU QUẢ”</b>, chúng tôi sẽ hỗ trợ và sát cánh cùng quý khách khi thực hiện công việc, chúng tôi luôn bám sát các quy định của luật pháp hiện hành, các chuẩn mực đạo đức nghề nghiệp, các qui định và quy trình nội bộ được áp dụng để hướng đến mục tiêu bảo vệ tốt nhất quyền lợi của quý khách hàng.</p>
            <div>
                <button class="button-hover-left" style="color: #fff;background-color: #00b1f5; padding: 10px"><b>Tải Báo Giá</b></button>
                <button class="button-hover-right" style="color: #fff;background-color: #041344; padding: 10px"><b>Liên hệ chúng tôi</b></button>
            </div>
        </div>
    </div>
    <div class="section section_dark">
        <div class="container">
            <div class="perspective">
            <div class="perspective__flex">
                <div class="perspective__col">
                <div class="perspective__item perspective-item">
                    <div class="perspective-item__icon"><img src="/images/groups.png" alt=""/></div>
                    <div class="perspective-item__title">Cùng Nhau Hợp Tác Và Phát Triển Bền Vững!</div>
                    <div class="perspective-item__text">Luôn luôn đổi mới và phát triển hệ thống dịch vụ. Tạo tâm thế thoải mái nhất giữa Quý doanh nghiệp và Q.P.T</div>
                </div>
                </div>
                <div class="perspective__col">
                <div class="perspective__item perspective-item">
                    <div class="perspective-item__icon"><img src="/images/question.png" alt=""/></div>
                    <div class="perspective-item__title">Tại Sao Lựa Chọn Chúng Tôi Khi Nghĩ Về Thuế - Kế Toán?</div>
                    <div class="perspective-item__text">Q.P.T luôn tự hào là công ty dẫn đầu về dịch vụ kế toán. Chúng tôi không chỉ có chuyên môn cao mà còn đem đến những dịch vụ tốt nhất, chuyên nghiệp, tận tâm nhất!</div>
                </div>
                </div>
                <div class="perspective__col">
                <div class="perspective__item perspective-item">
                    <div class="perspective-item__icon"><img src="/images/solution.png" alt=""/></div>
                    <div class="perspective-item__title">Cung Cấp Giải Pháp Thuế - Kế Toán - Kiểm Toán Toàn Diện</div>
                    <div class="perspective-item__text">Là DN lâu năm, chúng tôi thấu hiểu các vướng mắc của Quý DN. Từ đó đưa ra hướng giải quyết tốt nhất không chỉ về chi phí mà lẫn hướng phát triển bền vững cho tương lai DN.</div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    <div class="section-band">
        <p style="font-family: helvetica, arial, sans-serif; color: white;font-size: 1.5rem;margin: 0">QUẲNG GÁNH LO ĐI ĐỂ KINH DOANH</p>
        <p style="font-family: helvetica, arial, sans-serif; color: white;font-size: 1rem">Q.P.T giúp bạn loại bỏ mọi vấn đề khó khăn với kế toán và thuế!</p>
        <button class="button-hover-left" style="color: #fff;background-color: #00b1f5; padding: 10px"><b>Tải Báo Giá</b></button>
    </div>
    <div class="flex-colum" style="margin-top: 240px;">
        <div class="flex-colum" style="align-items: center; margin-bottom: 30px">
            <span><h1 style="color: #02124d;font-weight: 800;line-height: 1.504, font-size: 2.14rem;"><b>Dịch Vụ Cung Cấp</b></h1></span>
            <img style="width: 50px; height: 50px;padding: 0 0 0 0;margin-bottom: 20px;" src="/images/customer.png" alt="" >
            <span style="color: #02124d; font-size: 1.2rem;">Chúng tôi cam kết mang đến chất lượng dịch vụ tốt nhất cho khách hàng.</span>
        </div>
        <div class="flex-row">
            <div class="flex-colum-service-card">
                <img class="service-card" src="https://qpt.com.vn/wp-content/uploads/2018/12/kthue-5.jpg" alt=""/>
                <p class="card-title">DỊCH VỤ KẾ TOÁN – BÁO CÁO THUẾ</p>
                <p>Đảm bảo việc hạch toán sổ sách, báo cáo và khai nộp thuế kịp thời, hiệu quả.</p>
                <a class="watch-more" href="https://qpt.com.vn/dich-vu/dich-vu-ke-toan-bao-cao-thue/">xem thêm</a>
            </div>
            <div class="flex-colum-service-card">
                <img class="service-card" src="https://qpt.com.vn/wp-content/uploads/2019/12/dich-vu-soat-xet-thue.jpg" alt=""/>
                <p class="card-title">DỊCH VỤ XÉT SOÁT THUẾ</p>
                <p>Phát hiện những rủi ro tiềm ẩn về thuế, đưa ra các đề xuất các giải pháp kỹ thuật để tìm cách giảm thiểu các rủi ro về thuế...</p>
                <a class="watch-more" href="https://qpt.com.vn/dich-vu/dich-vu-soat-xet-thue-toi-uu-chi-phi/">xem thêm</a>
            </div>
            <div class="flex-colum-service-card">
                <img class="service-card" src="https://qpt.com.vn/wp-content/uploads/2020/12/dich-vu-ke-toan-thue-cho-van-phong-dai-dien-nuoc-ngoai.jpg" alt=""/>
                <p class="card-title">DỊCH VỤ KẾ TOÁN THUẾ CHO VĂN PHÒNG ĐẠI DIỆN NƯỚC NGOÀI</p>
                <p>Dịch vụ kế toán thuế cho văn phòng đại diện nước ngoài tại Việt Nam giúp doanh nghiệp thực hiện các công việc kế toán.</p>
                <a class="watch-more" href="https://qpt.com.vn/dich-vu/dich-vu-ke-toan-thue-cho-van-phong-dai-dien-nuoc-ngoai/">xem thêm</a>
            </div>
            <div class="flex-colum-service-card">
                <img class="service-card" src="https://qpt.com.vn/wp-content/uploads/2019/01/dich-vu-quyet-toan-thue-tncn.png" alt=""/>
                <p class="card-title">DỊCH VỤ QUYẾT TOÁN THUẾ THU NHẬP CÁ NHÂN</p>
                <p>Q.P.T cung cấp dịch vụ kê khai, quyết toán thuế TNCN cá nhân xử lý , giải quyết mọi vấn đề liên quan đến thuế TNCN một cách chuyên nghiệp và tin cậy nhất.</p>
                <a class="watch-more" href="https://qpt.com.vn/dich-vu/dich-vu-quyet-toan-thue-thu-nhap-ca-nhan/">xem thêm</a>
            </div>
        </div>
        <br>
        <div style="text-align:center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
        <br>
    </div>
    <div class="section-band">
        <p style="font-family: helvetica, arial, sans-serif; color: white;font-size: 1.5rem;margin: 0">Q.P.T TAX AGENT</p>
        <p style="font-family: helvetica, arial, sans-serif; color: white;font-size: 1rem">CAM KẾT ĐỒNG HÀNH CÙNG DOANH NGHIỆP KHỞI NGHIỆP</p>
        <button class="button-hover-left" style="color: #fff;background-color: #00b1f5; padding: 10px"><b>Tải Báo Giá</b></button>
    </div>
    <div class="flex-colum-event" style="align-items: center;">
        <span><h1 style="color: #02124d;font-weight: 800;line-height: 1.504, font-size: 2.14rem;"><b>Tin Tức - Sự Kiện</b></h1></span>
        <img style="width: 50px; height: 50px;padding: 0 0 0 0;margin-bottom: 20px;" src="/images/news.png" alt="" >
        <span style="color: #02124d; font-size: 1.2rem;">Cập nhật những tin tức mới nhất về Thuế, Kế toán, Bảo hiểm và các Văn bản pháp luật.</span>
        <div class="flex-row-event">
            <div class="flex-colum-ele">
                <img style="width: 100%; padding: 0" src="/images/huong-dan-lap-to-khai-quyet-toan-02-qtt-tncn-tren-phan-mem-htkk.png" alt=""/>
                <p>HƯỚNG DẪN LẬP TỜ KHAI QUYẾT TOÁN THUẾ THU NHẬP CÁ NHÂN 02/QTT-TNCN TRÊN PHẦN MỀM HTKK</p>
                <button class="button-hover-left-to-right" style="color: #fff;background-color: #00b1f5;width: 144px;height: 44px"><b>Xem thêm  >></b></button>
            </div>

            <div class="flex-colum-ele">
                <div class="flex-row">
                    <img class="img-event" src="/images/tang-tuoi-nghi-huu-cua-lao-dong-nam-nu-tu-ngay-01-01-2021.png" alt=""/>
                    <p>TĂNG TUỔI NGHỈ HƯU CỦA LAO ĐỘNG NAM, NỮ TỪ NGÀY 01/01/2021</p>
                </div>
                <div class="flex-row">
                    <img class="img-event" src="/images/bo-luat-lao-dong-2019_diem-moi-trong-giai-quyet-tranh-chap-lao-dong-tu-nam-2021.png" alt=""/>
                    <p>BỘ LUẬT LAO ĐỘNG 2019_ĐIỂM MỚI TRONG GIẢI QUYẾT TRANH CHẤP LAO ĐỘNG TỪ NĂM 2021</p>
                </div>
                <div class="flex-row">
                    <img class="img-event" src="/images/bo-luat-lao-dong-2019_thay-doi-ve-ky-luat-lao-dong.png" alt=""/>
                    <p>BỘ LUẬT LAO ĐỘNG 2019_THAY ĐỔI VỀ KỶ LUẬT LAO ĐỘNG</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Messenger Chat Plugin Code -->
    <div id="fb-root"></div>

    <!-- Your Chat Plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "100358228276589");
      chatbox.setAttribute("attribution", "biz_inbox");
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v10.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
</div>
