<div class="container container-career">
  <div class="banner-job">
    <img class="job" src="/images/job.png" alt="" title="" />
    <div class="cheat">
      <strong><h1 class="shit">CAREER</h1></strong>
      <img class="bullshit" src="/images/minus.svg" alt="" title="" />
    </div>
  </div>
  <div class="introduction">
    <h2 class="title">CHÀO MỪNG BẠN ĐẾN VỚI Q.P.T</h2>
    <strong><p class="slogan">Chương trình tuyển dụng diễn ra thường xuyên, tạo nhiều cơ hội việc làm, đặc biệt cho các bạn sinh viên mới tốt nghiệp.</p></strong>
    <p class="content">Q.P.T luôn coi trọng yếu tố phát triển con người, xây dựng văn hóa công ty. Q.P.T chào đón các ứng viên hoài bão, mong muốn phát triển trong lĩnh vực Kế toán – Thuế, yêu thích làm việc trong một môi trường chuyên nghiệp, năng động, thử thách. Đến với Q.P.T các bạn sẽ được đào tạo về kiến thức, chuyên môn và cả kỹ năng nghề nghiệp.</p>
  </div>
  <div class="abc">
    <h2 style="color: #02124d"><img class="icon-career" src="/images/career.png" alt="" title="" /><strong>Vị Trí Tuyển Dụng</strong></h2>
    <strong><p class="title">THÔNG BÁO TUYỂN DỤNG</p></strong>
    <p>Đại Lý Thuế Q.P.T hoạt động trong lĩnh vực hỗ trợ các doanh nghiệp khởi nghiệp với các dịch vụ cụ thể như sau:</p>
    <p class="something1">Đăng ký thành lập doanh nghiệp</p>
    <p class="something1">Làm thủ tục về thuế: kê khai, nộp, hoàn thuế</p>
    <p class="something1">Kế toán, tiền lương, bảo hiểm</p>
    <p>Khách hàng của QPT bao gồm các doanh nghiệp vừa và nhỏ hoạt động trong nhiều lĩnh vực có, bao gồm doanh có vốn Việt Nam và nước ngoài.<p>
    <p>Để đáp ứng nhu cầu khách hàng tăng, Đại lý thuế Q.P.T cần tuyển dụng nhân sự:<p>
    <strong><p class="something">Vị trí tuyển dụng:<p></strong>
    <p class="something1">Nhân viên thực tập kế toán nội bộ<p>
    <strong><p class="something">Mô tả công việc:<p></strong>
    <p class="something1">Quản lý chi phí đầu vào: tiếp nhận chứng từ mua hàng, lập đề nghị thanh toán, ghi nhận vào phần mềm MISA;<p>
    <p class="something1">Quản lý doanh thu: hỗ trợ soạn thảo thư báo giá, hợp đồng, theo dõi hợp đồng, tiến độ thực hiện của Bộ phận nghiệp vụ để xuất hóa đơn cho khách hàng kịp thời, cập nhật công nợ cho Bộ phận quản lý;<p>
    <p class="something1">Quản lý nhân sự: chấm công, tính và lập lệnh chi lương, báo tăng giảm BHXH cho bộ phận nghiệp vụ.<p>
    <p class="something1">Lập báo cáo thuế, báo cáo tài chính, báo cáo thống kê định kỳ theo quy định; trình Ban giám đốc ký và nộp cho các cơ quan đúng hạn;<p>
    <p class="something1">Hỗ trợ bộ phận nghiệp vụ: đóng hồ sơ, chứng từ kế toán, giao nhận hồ sơ cho khách hàng.<p>
    <strong><p class="something">Yêu cầu dự tuyển:<p></strong>
    <p class="something1">Ưu tiên sinh viên năm cuối hoặc chờ nhận bằng ngành kế toán, thuế các trường cao đẳng, đại học có nhu cầu thực tập tại Công ty.<p>
    <p class="something1">Không yêu cầu kinh nghiệm vì sẽ được đào tạo thực tế.<p>
    <p class="something1">Hiểu các nguyên lý cơ bản của kế toán.<p>
    <p class="something1">Có tinh thần hỗ trợ khởi nghiệp: Nhiệt tình, nhanh nhẹn, không ngại việc, ham học hỏi, không ngại thay đổi, cam kết với chất lượng hiệu quả công việc, lễ phép khi giao tiếp với khách hàng.<p>
    <p class="something1">Thành thạo tin học văn phòng: Word, Excel.<p>
    <p class="something1">Biết sử dụng phần mềm kế toán MISA là một lợi thế.<p>
    <strong><p class="something">Quyền lợi được hưởng:<p></strong>
    <p class="something1">Lương thỏa thuận, phụ cấp xăng xe, ăn trưa và điện thoại.<p>
    <p class="something1">Được hưởng đầy đủ chế độ Bảo hiểm xã hội, bảo hiểm y tế theo quy định.<p>
    <p class="something1">Được khám sức khỏe hàng năm.<p>
    <p class="something1">Được đào tạo chuyên sâu về kế toán và thuế.<p>
    <p class="something1">Được thực hành trên công việc thực tế với sự chỉ dẫn tận tình của mentor và đồng nghiệp có kinh nghiệm.<p>
    <p class="something1">Được cấp máy tính làm việc.<p>
    <p class="something1">Được ưu tiên tuyển dụng nhân viên chính thức sau khi tốt nghiệp, không phải thử việc lại.<p>
    <p class="something1">Được đánh giá tăng lương, tăng chức hàng năm.<p>
    <p><strong class="something">Thời gian làm việc: </strong>Full time<p>
    <p class="something1">Làm việc theo giờ hành chính, từ thứ hai đến thứ sáu 9h sáng đến 18h chiều, nghỉ trưa 12h~13h. <p>
    <p class="something1">Ứng viên được chủ động sắp xếp thời gian làm việc phù hợp với lịch học và thi.<p>
    <strong><p class="something">Địa điểm làm việc:<p></strong>
    <%# <p class="something1">Địa điểm làm việc:  <p> %>
    <p class="something1">Công ty TNHH Đại Lý Thuế Q.P.T<p>
    <p class="something1">268 Lý Thường Kiệt, Phường 14, Quận 10, Thành phố Hồ Chí Minh, Việt Nam<p>
    <p><strong class="something">Lương: </strong>thỏa thuận<p>
    <strong><p class="something">Hướng dẫn dự tuyển:<p></strong>
    <p class="something1">Ứng viên vui lòng ứng tuyển online tại: https://bit.ly/2Rx8SBz<p>
    <p class="something1">Mọi thắc mắc vui lòng liên hệ Anh Đặng Vinh Quang, số điện thoại 0938753116, email: quangdang@qpt.com.vn<p>
    <p class="something1">Chúng tôi sẽ ưu tiên ứng viên ứng tuyển sớm theo ghi nhận tại website.<p>
    <strong><p class="something">Link tải Thông báo dự tuyển:<p></strong>
    <p class="something1">Thong-bao-tuyen-dung_Thuc-tap-Ke-toan-noi-bo.pdf<p>
  </div>
</div>
